<h1>dashboard-dashboardTiles</h1>

<table class="table">
  <tr *ngFor="let dashboardTiles of dashboardTilesList$ | async">
    <td>{{dashboardTiles.id}}</td>
    <td>{{dashboardTiles.name}}</td>
    <td>{{dashboardTiles.description}}</td>
  </tr>
</table>

