<h1>dashboard-manageEngagements</h1>

<table class="table">
  <tr *ngFor="let manageEngagements of manageEngagementsList$ | async">
    <td>{{manageEngagements.id}}</td>
    <td>{{manageEngagements.name}}</td>
    <td>{{manageEngagements.description}}</td>
  </tr>
</table>

