<h1>dashboard-vieweEngagement</h1>

<table class="table">
  <tr *ngFor="let vieweEngagement of vieweEngagementList$ | async">
    <td>{{vieweEngagement.id}}</td>
    <td>{{vieweEngagement.name}}</td>
    <td>{{vieweEngagement.description}}</td>
  </tr>
</table>

