<h1>dashboard-messageArchitecture</h1>

<table class="table">
  <tr *ngFor="let messageArchitecture of messageArchitectureList$ | async">
    <td>{{messageArchitecture.id}}</td>
    <td>{{messageArchitecture.name}}</td>
    <td>{{messageArchitecture.description}}</td>
  </tr>
</table>

