<h1>interview-zone-interviewTiles</h1>

<table class="table">
  <tr *ngFor="let interviewTiles of interviewTilesList$ | async">
    <td>{{interviewTiles.id}}</td>
    <td>{{interviewTiles.name}}</td>
    <td>{{interviewTiles.description}}</td>
  </tr>
</table>

