<h1>interview-zone-addMeeting</h1>

<table class="table">
  <tr *ngFor="let addMeeting of addMeetingList$ | async">
    <td>{{addMeeting.id}}</td>
    <td>{{addMeeting.name}}</td>
    <td>{{addMeeting.description}}</td>
  </tr>
</table>

