<h1>interview-zone-kanbanDashboard</h1>

<table class="table">
  <tr *ngFor="let kanbanDashboard of kanbanDashboardList$ | async">
    <td>{{kanbanDashboard.id}}</td>
    <td>{{kanbanDashboard.name}}</td>
    <td>{{kanbanDashboard.description}}</td>
  </tr>
</table>

