<h1>interview-zone-interviewQuestion</h1>

<table class="table">
  <tr *ngFor="let interviewQuestion of interviewQuestionList$ | async">
    <td>{{interviewQuestion.id}}</td>
    <td>{{interviewQuestion.name}}</td>
    <td>{{interviewQuestion.description}}</td>
  </tr>
</table>

